<h1>Show submission <%= @submission.uuid %></h1>

<ul>
  <li>State: <%= @submission.state %></li>
  <li>Assets: <%= @submission.assets %></li>
  <li>Requests: <%= @submission.requests %></li>
  <li>Study: <%= @submission.study.name %></li>
  <li>Project: <%= @submission.project.name %></li>
</ul>

